.home{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(./valorant-bg-main.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home{
    font-size: 100px;
    font-weight: 100;
    color: rgb(247, 228, 228);
}


@media screen and (max-width: 1204px){
    .home h1{
        font-size: 120px;
    }
}


@media screen and (max-width: 768px){
    .home h1{
        font-size: 60px;
    }
}